<% if (typeof err_message !=='undefined' ) { %>
    <p style="color:red">
        <%= err_message %>
    </p>
    <% } %>

        <form action="" method="post">
            <input type="hidden" name="id" required value="<%= user.id %>">
            <input type="hidden" name="email" required value="<%= user.email %>">
            <input type="password" name="password" required placeholder="new password">
            <br><br>
            <input type="password" name="confirmPassword" required placeholder="confirm password">
            <br><br>
            <input type="submit" value="Reset password">
        </form>